// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$colorInitial: #fff !default;

$firmColor: #f5a623; //firm color
$colorPrimary: #f5a623 !default;

$colorSecondary: #424242 !default; // site text color

// $color-tertiary: #f4f5f6 !default;
// $color-quaternary: #d1d1d1 !default;


$sidebarColor: #fff; // sidebar text color

$siteBg: #eaeaea; // site background color
$sidebarBg: #841F1B; // sidebar background color
