// Switcher
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.switch {
  $switch-width: 60px;
  $switch-padding: 2px;
  $switch-height: 30px;
  $knob-size: $switch-height - ($switch-padding * 2);
  $knob-width: $knob-size;

  cursor: pointer;
  display: inline-block;
  position: relative;

  & * {
    @include selection(true) {
      background: none;
    }
  }

  &-before {
    float: left;
    margin-right: $m/2;
    color: rgba($colorInitial, .5);
    @include transition(color .2s linear);
  }

  &-after {
    float: left;
    margin-left: $m/2;
    color: inherit;
    @include transition(color .2s linear);
  }

  input {
    display: none;

    + .switch-area {
      .checkbox {
        @include size($switch-width $switch-height);
        border: 1px solid transparent;
        background: rgba($colorInitial, .5);
        border-radius: 15px;
        cursor: pointer;
        position: relative;
        width: $switch-width;
        z-index: 0;
        margin: -$m/2 0;
        float: left;
        @include transition(all .2s linear);
      }

      .switch-plumbus {
        @include position(absolute, 1px 0 0 1px);
        @include size($knob-size);
        background: $colorInitial;
        @include transition(all .2s linear);
        z-index: 2;
        border-radius: 20px;
        text-align: center;
        display: table;

        [class^="icon-"] {
          color: #ddd;
          display: block;
          display: table-cell;
          vertical-align: middle;
          @include transform(rotate(90deg));
          @include transition(transform .2s linear);
          @include transform-origin(50%);
        }
      }
    }

    &:checked {
      + .switch-area {
        .checkbox {
          background: $colorPrimary;
        }
        .switch-plumbus {
          left: $switch-width - $knob-width - ($switch-padding * 2) + 1px;

          [class^="icon-"] {
            @include transform(rotate(90deg + 180deg));
          }
        }
        .switch-before {
          color: inherit;
        }
        .switch-after {
          color: rgba($colorInitial, .5);
        }
      }
    }
  }
}
