<main class="content">

    <nav class="header">
        <button type="button" class="btn btn-link btn-icon-before sliding-panel-button"><span class="icon-menu"></span> Меню</button>

        <a class="header__logo" href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/assets/img/brand/logo-mob.png" alt="Site Logo Mobile">
        </a>

        <a href="#modalCashbox" class="btn btn-link btn-icon-before open-popup-link" data-effect="mfp-zoom-in"><span class="icon-wallet"></span> Касса</a>
    </nav>

    {{ content }}

</main>
