<nav class="login-nav">
  <button type="submit" class="vkontakte"><span class="icon-vkontakte"></span></button>
  <button type="submit" class="odnoklassniki"><span class="icon-odnoklassniki"></span></button>
  <button type="submit" class="mailru"><span class="icon-mailru"></span></button>
  <button type="submit" class="facebook"><span class="icon-facebook"></span></button>
  <button type="submit" class="googleplus"><span class="icon-google-plus"></span></button>
  <button type="submit" class="yandex"><span class="icon-yandex"></span></button>
</nav>
<div class="or-line"><span>Или</span></div>
