<div id="modalCashbox" class="modal modal-cashbox mfp-with-anim mfp-hide">
  <div class="modal_caption">Касса</div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolore veniam ea debitis id doloremque? Maxime quasi optio amet porro, magnam eveniet molestias consectetur, debitis soluta officiis in laudantium! Possimus reprehenderit officiis hic, porro qui inventore quaerat. Quam quis aliquid voluptas adipisci ratione voluptatum quisquam eos repellendus, illo natus laboriosam voluptates error quaerat, molestias perspiciatis, laudantium quos aliquam provident sapiente. Eius assumenda quam sit nostrum, odio recusandae doloremque nam aspernatur iusto vitae optio ducimus soluta sunt iste perspiciatis enim. Nihil minima rem animi, sequi, sapiente laboriosam! Nisi reprehenderit voluptatibus nihil cumque a eaque distinctio hic expedita, id, eligendi possimus enim.</div>
</div>
  
  
