<div id="modalLogin" class="modal modal--login mfp-with-anim mfp-hide">
    
    <div class="modal__header">
        Вход
    </div>

    {% include promo.html %}
    {% include login-nav.html %}

    <form class="form">
        <div class="input-holder">
            <label for="email"><span class="icon-person"></span></label>
            <input id="email" type="email" placeholder="Введите email">
        </div>
        <div class="input-holder">
            <label for="password"><span class="icon-lock"></span></label>
            <input id="password" type="password" placeholder="Введите пароль">
        </div>
        <button type="submit" class="btn btn-primary btn-icon-after">Вход <span class="icon-arrow-forward"></span></button>
    </form>

    <a href="#">Забыли пароль?</a>
</div>
    
    
