<div id="modalLogin" class="modal modal-login mfp-with-anim mfp-hide">
  <div class="modal_caption">Вход</div>
  {% include promo.html %}
  {% include login-nav.html %}
  <form>
    <div>
      <label for="email">email</label>
      <input id="email" type="email">
    </div>
    <div>
      <label for="password">password</label>
      <input id="password" type="password">
    </div>
    <button type="submit" class="btn btn-primary btn-icon-after">Вход <span class="icon-arrow-forward"></span></button>
  </form>
  <a href="">Забыли пароль?</a>
</div>
