<aside class="sliding-panel-content">
  <button class="btn btn-link sliding-panel-close"><span class="icon-close"></span></button>
  <div class="sidebar">
    <div class="sidebar-container">

      <a class="sidebar-logo" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/img/brand/site-logo.png" data-at2x="{{ site.baseurl }}/assets/img/brand/site-logo@2x.png" />
      </a>

      <div class="sidebar-user">
        <div>
          <img src="{{ site.baseurl }}/assets/img/promo/motivation.png" data-at2x="{{ site.baseurl }}/assets/img/promo/motivation@2x.png" />
          <div>Подарок</div>
          <div>Зарегистрируйся и получи +1 000 рублей</div>
          <a href="#test-popup" class="btn btn-primary open-popup-link" data-effect="mfp-zoom-in">Регистрация</a>
          <a href="#test-popup" class="btn btn-ghost open-popup-link" data-effect="mfp-zoom-in">Вход</a>
        </div>
        <div>
          <img src="{{ site.baseurl }}/assets/img/user/avatar-sm.png" data-at2x="{{ site.baseurl }}/assets/img/user/avatar-sm@2x.png" />
          <div>Джордж Вашингтон</div>
          <div>
            <span class="icon-comment"></span>
            <span>3</span>
          </div>
          <div>Режим Fun Руб</div>
          <div>Баланс 13 500 руб.</div>
          <div>Баллы 347</div>
          <a href="javascript:void(0)" class="btn btn-primary"><span class="icon-wallet"></span> Касса</a>
        </div>
      </div>

      <ul class="sidebar-menu">
        <li><a href="{{ site.baseurl }}/game-hall/">Игровой зал</a></li>
        <li><a href="{{ site.baseurl }}/coriolan-ui/">Coriolan UI</a></li>
        <li><a href="javascript:void(0)">Лотерея</a></li>
        <li><a href="javascript:void(0)">Турниры</a></li>
        <li><a href="javascript:void(0)">Акции</a></li>
        <li><a href="javascript:void(0)">Магазин фишек</a></li>
        <li><a href="javascript:void(0)">Новости</a></li>
        <li><a href="javascript:void(0)">Видео</a></li>
        <li><a href="javascript:void(0)">Скачать plug-in</a></li>
      </ul>

    </div>
  </div>
</aside>

