// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$colorInitial: #fff;

// $firmColor: #f5a623; //firm color
$firmColor: #249e49; //firm color
$colorPrimary: #f5a623;

$colorSecondary: #424242; // site text color

// $color-tertiary: #f4f5f6;
// $color-quaternary: #d1d1d1;


$sidebarColor: #fff; // sidebar text color

$siteBg: #eaeaea; // site background color
$sidebarBg: #841f1b; // sidebar background color
