html {
  // margin-right: 15px;
  // overflow: hidden;
}

.is-overflowed {
  // margin-right: 15px;
  overflow: hidden;
}

a {
  color: $firmColor;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 $m;
}

.wrapper {
  @include outer-container;
  overflow: hidden;
}


.clearfix {
  @include clearfix;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.margin-bottom {
  margin-bottom: $m;
}
