.btn {
  position: relative;
  display: inline-block;
  border: 1px solid transparent;
  background: transparent;
  color: #424242;
  outline: none;
  text-transform: uppercase;
  line-height: 40px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 0 22px;
  font-weight: 500;
  text-decoration: none;
  @include transition(all .1s ease-in-out);

  &-primary {
    background: $firmColor;
    color: #fff;

    &:hover {
      background: #ffc668;
    }
  }
  &-ghost {
    background: transparent;
    color: #727272;
    border-color: #727272;

    &:hover {
      color: #a7a7a7;
      border-color: #a7a7a7;
    }
  }
  &-link {
    background: transparent;
    color: $firmColor;
    padding: 0;

    &:hover {
      color: #ffc668;
    }
  }
}

// btn group
.btn + .btn {
  margin-left: 4px;
}

// icons
.btn [class^="icon-"] {
  font-size: 1.75em;
  position: relative;
  top: 5px;
}
.btn-icon-before [class^="icon-"] {
  margin-right: 6px;
}
.btn-icon-after [class^="icon-"] {
  margin-left: 6px;
}
