.content {
  padding: 60px $m $m;
  @include transition(all 0.25s ease-in-out);

  @include media($tablet) {
    margin-left: 300px;
  }

  &_header {
    position: fixed;
    top: $m;
    // margin-bottom: $m;

    @include media($tablet) {
      display: none;
    }
  }
}


