.content {
  padding: $m;
  @include transition(all 0.25s ease-in-out);

  @include media($tablet) {
    margin-left: 300px;
  }

  &__header {
    // position: fixed;
    margin-bottom: $m;

    @include media($tablet) {
      display: none;
    }
  }
}


