.module {
  margin: 0 -$m/2;
  @include clearfix;

  article.widget {
    position: relative;
    float: left;
    width: 25%;
    padding-bottom: 25%;

    div {
      border-radius: 4px;
      background: $firmColor;
      @include position(absolute, $m/2);

      span {
        border-radius: 0 0 4px 4px;
        @include position(absolute, null 0 0 0);
        padding: $m/2;
        text-align: right;
        color: $firmColor;
        background: #fff;

        a {
        }
      }
    }
    // &.widget-one {
    //   width: 25%;
    // }
    // &.widget-two {
    //   width: 50%;
    // }
    // &.widget-three {
    //   width: 75%;
    // }
  }
}
