$m: 16px; //global margin

$firmColor: #f5a623; //firm color

$siteColor: #424242; // site text color
$sidebarColor: #fff; // sidebar text color

$siteBg: #eaeaea; // site background color
$sidebarBg: #841F1B; // sidebar background color
