.demo {
  position: relative;
  text-align: left;
  width: 1792px;

  .img-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1792px;
  }

  .img-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    z-index: 40;
  }

  .img-main {
    width: 1792px;
    padding-left: 300px;
    box-sizing: border-box;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
  }
}
