.module {
  margin: 0 -$m/2;
  @include clearfix;

  .game-widget {
    position: relative;
    float: left;
    overflow: hidden;

    @include media($One) {
      width: 100%;
      padding-bottom: 50%;
    }

    @include media($Two) {
      width: 50%;
      padding-bottom: 50%;
    }

    @include media($Three) {
      width: 33.333333%;
      padding-bottom: 33.333333%;
    }

    @include media($ThreeSidebar) {
      width: 33.333333%;
      padding-bottom: 33.333333%;
    }

    @include media($Four) {
      width: 25%;
      padding-bottom: 25%;
    }

    .container {
      @include position(absolute, $m/2);
      border-radius: 4px;
      overflow: hidden;
      z-index: 10;

      .image-container {
        @include position(absolute, 0 0 0 0);
        color: $colorInitial;
        background: $colorPrimary;

        img {
          @include position(absolute, 50% null null 50%);
          @include transform(translate3d(-50%,-50%,0));
          width: 100%;
          height: auto;
          display: block;
        }
      }

      .text-container {
        @include position(absolute, null 0 0 0);
        overflow: hidden;
        // border-radius: 0 0 4px 4px;
        padding: $m/2 $m/2 $m/2 50px;
        text-align: right;
        background: #fff;
        color: $colorPrimary;

        .game-title {
          @include ellipsis(100%);
          display: block;
        }

        .game-money {
          @include ellipsis(100%);
          display: block;
        }

        a.like {
          @include position(absolute, 50% null null $m/2);
          @include transform(translate3d(0,-50%,0));
        }
      }
    }
    &:first-child,
    &:last-child {

      @include media($Two) {
        width: 100%;
      }

      @include media($Three) {
        width: 66.666666%;
      }

      @include media($Four) {
        width: 50%;
      }
    }
    // &.widget-one {
    //   width: 25%;
    // }
    // &.widget-two {
    //   width: 50%;
    // }
    // &.widget-three {
    //   width: 75%;
    // }
  }
}
