@import 'vendor/normalize';
@import 'vendor/bourbon/bourbon';
@import 'vendor/grid-settings';
@import 'vendor/neat/neat';
@import 'vendor/magnific-popup';

$firmColor: #249e49; //firm color
$m: 16px; //global margin
@import 'modals';

body {
    background: url(../img/cashbox/vu10.jpg) center top;
}
