.module {
  margin: 0 -$m/2;
  @include clearfix;

  .game-widget {
    position: relative;
    float: left;
    overflow: hidden;
    text-align: center;

    @include media($One) {
      $w: 100%;

      width: $w;
      padding-bottom: $w*3/4;
    }

    @include media($Two) {
      $w: 50%;

      width: $w;
      padding-bottom: $w*3/4;
    }

    @include media($Three) {
      $w: 33.33333%;

      width: $w;
      padding-bottom: 33.333333%;
    }

    @include media($ThreeSidebar) {
      $w: 33.33333%;

      width: $w;
      padding-bottom: $w*3/4;
    }

    @include media($Four) {
      $w: 25%;

      width: $w;
      padding-bottom: $w*3/4;
    }

    .container {
      @include position(absolute, $m/2);
      border-radius: 4px;
      overflow: hidden;
      z-index: 10;

      .image-container {
        @include position(absolute, 0 0 0 0);
        color: $colorInitial;
        // background: $colorPrimary;
        background: #000;

        img {
          @include position(absolute, 50% null null 50%);
          @include transform(translate3d(-50%,-50%,0));
          width: 100%;
          height: auto;
          display: block;
        }
      }

      .text-container {
        @include position(absolute, null 0 0 0);
        overflow: hidden;
        // border-radius: 0 0 4px 4px;
        padding: $m/2 $m/2 $m/2 50px;
        text-align: right;
        background: #fff;
        color: $colorPrimary;

        .game-title {
          @include ellipsis(100%);
          display: block;
        }

        .game-money {
          @include ellipsis(100%);
          display: block;
        }

        a.like {
          @include position(absolute, 50% null null $m/2);
          @include transform(translate3d(0,-50%,0));
        }
      }
    }
  }
}
